

  <footer class="bg-primary text-center text-lg-start text-white " style="background: linear-gradient(to right, #26a2a7, #2c3e50);" >
    <!-- Grid container -->
    <div class="container p-4"> 
      <!--Grid row-->
      <div class="row my-4">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

          <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;">
            <img src="/images/logo-final-removebg-preview.png" height="70" alt=""
                 loading="lazy" />
          </div>

          <p class="text-center">Buy all types of electronics at a reasonable rate</p>

          

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">HELP</h5>

          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="#!" class="text-white" style="text-decoration: none;">Payments</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white" style="text-decoration: none;">Shipping</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white" style="text-decoration: none;">Cancellation and Returns</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white" style="text-decoration: none;">FAQ</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white" style="text-decoration: none;">Report Infirngement</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white" style="text-decoration: none;">About Us</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white" style="text-decoration: none;">Contact Us</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Policy</h5>

          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="#!" class="text-white" style="text-decoration: none;">Return Policy</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white" style="text-decoration: none;">Terms of Use</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white" style="text-decoration: none;">Security</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white" style="text-decoration: none;">Privacy</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white" style="text-decoration: none;">Site Map</a>
            </li>
            
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Contact</h5>

          <ul class="list-unstyled">
            <li>
              <p>Sector 8/A, Nirnaynagar, Chandlodia P.O. , Ahmedabad, Gujarat</p>
            </li>
            <li>
              <p>contact@ehub.com</p>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      
      <a class="text-white" href="https://mdbootstrap.com/"></a>
    </div>
    <!-- Copyright -->
  </footer>

